<div id="screenWrapper">

    <div id="sidebar">
        <span id="dgnTitleText">Disc Golf News</span>
        <hr>
        <div id="actionsText">Actions</div>
        {{#if showScrapeBtn}} <div id="scrapeBtn" class="btn">Scrape Articles</div> {{/if}}
        {{#if showViewSavedBtn}}
            <a href="/saved">
                <div id="viewSavedBtn" class="btn">View Saved Articles</div>
            </a>
        {{/if}}
        {{#if showClearBtn}} <div id="clearBtn" class="btn">Clear Saved Articles</div> {{/if}}
        {{#if showViewScrapedBtn}} 
            <a href="/">
                <div id="viewScrapedBtn" class="btn">View Scraped Articles</div> 
            </a>
        {{/if}}
    </div>
    <div id="articles">
        {{#each articles}}
            <div class="article">
                <div>
                    <span class="labelTitle">Article</span>       
                    <span class="textTitle">{{title}}</span>
                </div>
                <div>
                    <span class="labelExcerpt">Excerpt</span>       
                    <span class="textExcerpt">{{excerpt}}</span>
                </div>

                <div class="btn-group">
                    <a href={{link}} target="_blank">
                        <div class="btn btn-article" data-type="link" data-id="{{_id}}">Link</div>
                    </a>                
                    <div class="btn btn-article" data-type="save" data-id="{{_id}}">Save</div> 
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script>
    $(document).ready(() => {

        const viewController = new ViewController();
    });
</script>